body {
  text-align: center;
  background-color: white;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color:  #22a6ec ;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.btn2 {
  background-color: red;
}

.btn1 {
  background-color: green;
}

.btn4 {
  background-color: blue;
}

.btn3 {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}


.change { 
            cursor: pointer; 
            border: 1px solid #555; 
            border-radius: 40%; 
            width: 20px; 
            text-align: center; 
            padding: 5px; 
            margin-left: 8px; 
        } 
        .dark{ 
            background-color: #222; 
            color: #e6e6e6; 
        } 

        .mode { 
            float:right; 
        } 